@font-face{
    font-family:"arcade classic";
    src:url("../font/arcade_pizzadude/ARCADE.TTF");
}
@font-face{
    font-family: "game";
    src: url("../font/game/game.TTF");
}
body{
    display: inline-flex;
    background-color: rgba(206, 117, 34, 0.925);
    color:rgb(65, 62, 62);
    font-family: 'Turret Road', cursive;
}
main{
    margin-right: 32px;
    margin-left: 32px;
}
#pac-man-logo{
    margin-left: 80px;
    margin-right: 80px;
}
#pac-man-logo{
    font-family: "game";
    font-size: 100px;
    text-align: center;
    width: 53%;
}
#pac-man-rotated{
    transform: rotate(90deg);
}
#pac-man-logo p{
    margin-top: 0;
    text-align: center;
    width: 90px;
}
#pac-man-rotated span{
    color:white;
    transform: rotate(180deg);
}
#title-container{
    margin-right:15px;
    margin-top: 15px;
}

#page-title{
    text-align: right;
    font-family: 'Big Shoulders Inline Text', cursive;
    color:rgb(29, 27, 27);
    font-size: 60px;
}
a{
    font-family: "arcade classic";
    color: rgb(65, 62, 62);
    font-size: 20px;
}
.pixel-word{
    font-family: arcade classic;
    font-size: 38px;
}
section{
    display:flex;
}
.text-content{
    flex-direction: column;
    margin-bottom: 35px;
}
h2{
    background-color: transparent;
    border: 3px solid rgba(47, 17, 87, 0.829);
    font-family: "arcade classic";
    color:rgba(104, 26, 78, 0.911);
    border-radius: 15px;
    padding-left:7px;
    font-size: 27px;
    padding-top: 4px;
}
#brand-logo{
   margin: 0; 
   padding-top:12px
}
.padding-img{
    margin: 0;
    padding-top:23px;
    padding-left:10px;
    padding-right:10px;
}
.no-margin-header{
    margin-block-end: 0;
}
.no-margin-text{
    margin-top:10px;
}
figcaption{
    font-size: small;
    text-align: center;
}
#brand-history-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pac-man-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    text-align: justify;
}
#console-models{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#console-models p{
    margin-right:20px;
}
.console-fig{
    margin-left:0;
    border: 2px dashed rgb(29, 27, 27);
    border-radius: 10px;
    padding:3px;

}
#menu{
    list-style-type:none;
    text-align: right;
}
#menu li{
    display: inline;
    padding: 0 12px;
}
#referrence{
    list-style-type:none;
    padding-left:0;
}
#referrence li{
    padding-bottom: 12px;
}